@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.message {
  width: 80%;
}

.cardContent {
  width: 100%;
}
hr {
  border: none;
  height: 1px;
  line-height: 1px;
  margin: 0px;
  padding: 0px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

.bi:hover {
  cursor: pointer;
}