@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
.main {
    margin-top: 5%;
    width: 943px;
    height: 800px;
    font-size: 20px;
}

.loginForm {
    width: 60%;
    height: 100%;
}
.row {
padding: 0px, 0px;
}
  
.btn-back {
  width:100%;
  height: 60px;
  font-size: 20px;
}

.errorText {
  font-size: 15px;
}

.btn-login {
  width:100%;
  height: 60px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
  
  
  
  
