<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/index/index.css" />
    <title>Hjem</title>
  </head>
  <body>
    <div class="main">
      <!-- Navbar -->
      <nav
        class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top fw-bold"
      >
        <div class="container-fluid">
          <div class="collapse navbar-collapse d-flex justify-content-between">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                  <% if (user) { %> 
                    <%= user.email %>
                     <% } else { %>
                       iSnapBook
                    <% } %>
                </a>
              </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <% if(!user) { %>
                <a class="nav-link active" aria-current="page" href="/auth"
                  >Innlogging</a
                >
                <% } else { %>
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="/auth/logout"
                  >Logg ut</a
                >
                <% } %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End of Navbar -->
      <!-- Start of messages and form container -->
      <div class="container-fluid mt-5">
        <div class="row px-3 d-flex flex-row flex-md-row flex-column-reverse">
          <!-- Messages column -->
          <div class="col-sm-12 col-md-8 mt-1 border-end border-2">
            <!-- Start of pagination -->
            <div class="pagination d-flex flex-row align-items-center justify-content-center mt-3">
              <nav id="pagination" aria-label="Page navigation">
              </nav>
            </div>
            <!-- End of pagination -->
            <div data-currentPage="1" class="messages d-flex flex-column align-items-center mt-2 mb-5">
              <!-- Messages -->
              <!-- End of Messages -->
            </div>
          </div>
          <!-- End of Messages column -->
          <!-- Form column -->
          <div class="col-sm-12 col-md-4 mt-1 bg-light">
            <%- include('../templates/postForm.ejs'); %>
          </div>
          <!-- End of Form column -->
        </div>
      </div>
      <!-- End of messages and form container -->
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="/js/Index/Index.js"></script>
  </body>
</html>
