<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/index/index.css" />
    <title>Hjem</title>
  </head>
  <body>
      <script>
        var user = '<%- JSON.stringify(user) %>';
      </script>
    <div class="main">
      <!-- Navbar -->
      <nav
        class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top fw-bold"
      >
        <div class="container-fluid">
          <div class="collapse navbar-collapse d-flex justify-content-between">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                  <% if (user) { %> 
                    <%= user.email %>
                     <% } else { %>
                       iSnapBook
                    <% } %>
                </a>
              </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <% if(!user) { %>
                <a class="nav-link active" aria-current="page" href="/auth"
                  >Innlogging</a
                >
                <% } else { %>
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="/auth/logout"
                  >Logg ut</a
                >
                <% } %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End of Navbar -->
      <!-- Start of messages and form container -->
      <div class="container-fluid mt-5">
        <div class="row px-3 d-flex flex-lg-row flex-sm-row-reverse">
          <!-- Messages column -->
          <div class="col-sm-12 col-md-8 mt-1 bg-light border-end border-2">
            <div
              class="messages d-flex flex-column align-items-center mt-5 mb-5"
            >
              <!-- Messages -->
              <!-- End of Messages -->
            </div>
            <!-- Start of pagination -->
            <div
              class="pagination d-flex flex-row align-items-center justify-content-center"
            >
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            <!-- End of pagination -->
          </div>
          <!-- End of Messages column -->
          <!-- Form column -->
          <div class="col-sm-12 col-md-4 mt-1 bg-light">
            <div class="postForm mt-5">
              <div class="card border border-1 px-4">
                <h3 class="formTitle text-center mt-3">Nytt Innlegg</h3>
                <hr class="mb-2" />
                <form id="Post" state="CREATE">
                  <div class="mb-3">
                    <label class="form-label">Tittel</label>
                    <input
                      type="text"
                      class="form-control"
                      name="title"
                      placeholder="Tittel... (Maks 100 Karakterer)"
                      maxlength="100"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Melding</label>
                    <textarea
                      class="form-control"
                      rows="4"
                      name="body"
                      placeholder="Skriv en melding... (Maks 280 Karakterer)"
                      maxlength="280"
                      required
                    ></textarea>
                  </div>
                  <div class="mb-3 d-flex justify-content-end">
                    <button
                      id="submitMessage"
                      type="submit"
                      class="btn btn-primary"
                    >
                      Post
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- End of Form column -->
        </div>
      </div>
      <!-- End of messages and form container -->
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="/js/Index/Index.js"></script>
  </body>
</html>
