<div class="card message mt-2">
    <div class="card-body d-flex flex-row">
      <div class="cardAuthor d-flex flex-column px-5 align-items-center border-end">
        <p><a href="#">Author</a></p>
        <img src="https://avatars.githubusercontent.com/u/58791043?v=4" alt="" 
        height="100px" width="100px" class="rounded-5 shadow-sm">
      </div>
      <div class="cardContent d-flex flex-column align-self-stretch">
        <span class="title fw-bold mt-2 px-2">This is some Title within a card body.</span>
        <hr>
        <span class="body mt-2 px-2">This is some Body within a card body.
          This is some Body within a card body.This is some Body within a card body.
          This is some Body within a card body.This is some Body within a card body.
          This is some Body...
        </span>
        <hr class="mt-1">
        <div class="cardFooter d-flex flex-row align-self-end">
          <span class="date text-end fw-light mt-1">5 min ago. (25.05.2022 - 14:24)</span></div>
        </div>
    </div>
  </div>